* {
  @include box-sizing(border-box);
  margin: 0;
  padding: 0;
}

html {
  font-size: $font-size--text;
}

body {
  font-family: $font-family;
  font-weight: $font-weight--regular;
}

a {
  color: $color--white;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

input[type="search"] {
  border: 0;
  font-family: inherit;
  font-size: inherit;
  &:focus {
    outline: 0;
  }
  &::placeholder {
    color: $color--light;
  }
}