.sidebar {
  @include position(fixed, $top: 0, $left: 0);
  @include size(204px, 100vh);
  background-color: $color-sidebar;
  color: $color--white;
  font-weight: $font-weight--light;

  .logo {
    @include background-image('logo.svg', $position: center);
    height: 70px;
  }

  .sidebar-scroll {
    overflow-y: auto;
    height: calc(100vh - 140px);
  }

  .user {
    @include position(absolute, $bottom: 0);
    @include padding($top: 25px, $bottom: 25px);
    @include size(100%, 70px);
    background-color: $color-sidebar;
    text-align: center;
    .username {
      font-size: $font-size--heading;
      color: $color--light;
    }
    .useroptions {
      @include inline-block;
      @include size(20px, 10px);
      @include background-image('user-options.svg', 20px, center);
      margin-left: 6px;
      cursor: pointer;
    }
  }
}

.profile-container {
  @include padding($top: 20px, $bottom: 20px);
  height: 253px;
  background-color: $color-profile;
  text-align: center;
  .company-current {
    margin-bottom: 25px;
  }
  .profile-link {
    @include background-image('down-arrow.png', 8px, center right);
    display: inline-block;
    margin-bottom: 20px;
    padding-right: 15px;
    cursor: pointer;
    &.project-current {
      @include margin($top: 20px, $bottom: 0);
    }
  }
  .profilepic-wrapper {
    @include size(132px);
    @include center-block;
    @include circle($color-circle);
    img {
      width: 100%;
    }
  }
}

.time-container {
  @include padding($top: 20px, $bottom: 20px);
  text-align: center;
  .time {
    margin-bottom: 25px;
    font-size: 26px;
    color: $color--white;
    &.clocked-out {
      color: rgba($color--white, 0.2);
    }
  }
  .clock-toggle {
    @include size(120px, 32px);
    @include center-block;
    @include border-radius(27px);
    background-color: $color-profile;
    box-shadow: 0 0 4px 0 $color-profile;
    cursor: pointer;
    position: relative;
    .switch {
      @include position(absolute, $top: 3px, $left: 2px);
      @include size(26px);
      @include border-radius(50%);
      @include transition(0.4s);
      background-color: $color-profile;
      box-shadow: 0 2px 4px 0 rgba(black, 0.5);
    }
    .clock-status {
      font-size: $font-size--small;
      line-height: 30px;
      color: rgba($color--white, 0.6);
    }
    &.clocked-in {
      background-color: $color--mint;
      .switch {
        left: initial;
        right: 2px;
      }
      .clock-status {
        color: $color--white;
      }
    }
  }
}

.sidebar-nav {
  padding-left: 36px;
  li {
    @include padding($top: 15px, $bottom: 15px);
    a {
      @include background-image('nav-icons.svg');
      color: $color--white;
      opacity: 0.4;
      padding-left: 35px;
      font-size: $font-size--heading;
      &:hover {
        opacity: 1;
      }
    }

    &.active-page {
      a {
        opacity: 1;
      }
    }

    &:nth-of-type(1) a {
      background-position: 0 -104px;
    }
    &:nth-of-type(2) a {
      background-position: 0 -150px;
    }
    &:nth-of-type(3) a {
      background-position: 0 -73px;
    }
    &:nth-of-type(4) a {
      background-position: 0 -200px;
    }
    &:nth-of-type(5) a {
      background-position: 0 -49px;
    }
    &:nth-of-type(6) a {
      background-position: 0 -173px;
    }
    &:nth-of-type(7) a {
      background-position: 0 -24px;
    }
    &:nth-of-type(8) a {
      background-position: 0 0px;
    }
    &:nth-of-type(9) a {
      background-position: 0 -128px;
    }

  }
}

.content-container {
  @include position(fixed, $top: 0, $left: 204px);
  @include size(calc(100% - 204px), 100%);
  .name-header {
    @include size(100%, 70px);
    padding: 21px 50px 25px;
    border-bottom: 1px solid $color--light;
    .welcome {
      float: left;
      font-size: $font-size--large;
      font-weight: $font-weight--regular;
      color: $color--headertext;
    }
    .timezone-container {
      float: right;
      .clock-image {
        @include background-image('clock.svg', 14px, center);
        @include inline-block;
        @include size(14px);
        margin-right: 12px;
      }
      .timezone {
        @include inline-block;
        color: $color--mint;
      }
    }
  }
}