.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.inlineblock-fix::after {
  content: '';
  display: inline-block;
  width: 100%;
}

.circle {
  @include circle;
  @include size($circle-size);
}