* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 14px; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

a {
  color: #ffffff;
  text-decoration: none; }

ul {
  list-style-type: none; }

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse; }

input[type="search"] {
  border: 0;
  font-family: inherit;
  font-size: inherit; }
  input[type="search"]:focus {
    outline: 0; }
  input[type="search"]::placeholder {
    color: #d5d6e1; }

.clearfix::after {
  content: '';
  display: block;
  clear: both; }

.inlineblock-fix::after {
  content: '';
  display: inline-block;
  width: 100%; }

.circle {
  background-color: #d8d8d8;
  border-radius: 50%;
  width: 42px;
  height: 42px; }

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 204px;
  height: 100vh;
  background-color: #242633;
  color: #ffffff;
  font-weight: 300; }
  .sidebar .logo {
    background-image: url("../img/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 70px; }
  .sidebar .sidebar-scroll {
    overflow-y: auto;
    height: calc(100vh - 140px); }
  .sidebar .user {
    position: absolute;
    bottom: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    height: 70px;
    background-color: #242633;
    text-align: center; }
    .sidebar .user .username {
      font-size: 16px;
      color: #d5d6e1; }
    .sidebar .user .useroptions {
      display: inline-block;
      vertical-align: middle;
      width: 20px;
      height: 10px;
      background-image: url("../img/user-options.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px;
      margin-left: 6px;
      cursor: pointer; }

.profile-container {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 253px;
  background-color: #2e3040;
  text-align: center; }
  .profile-container .company-current {
    margin-bottom: 25px; }
  .profile-container .profile-link {
    background-image: url("../img/down-arrow.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 8px;
    display: inline-block;
    margin-bottom: 20px;
    padding-right: 15px;
    cursor: pointer; }
    .profile-container .profile-link.project-current {
      margin-top: 20px;
      margin-bottom: 0; }
  .profile-container .profilepic-wrapper {
    width: 132px;
    height: 132px;
    margin-left: auto;
    margin-right: auto;
    background-color: #d8d8d8;
    border-radius: 50%; }
    .profile-container .profilepic-wrapper img {
      width: 100%; }

.time-container {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center; }
  .time-container .time {
    margin-bottom: 25px;
    font-size: 26px;
    color: #ffffff; }
    .time-container .time.clocked-out {
      color: rgba(255, 255, 255, 0.2); }
  .time-container .clock-toggle {
    width: 120px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    -ms-border-radius: 27px;
    border-radius: 27px;
    background-color: #2e3040;
    box-shadow: 0 0 4px 0 #2e3040;
    cursor: pointer;
    position: relative; }
    .time-container .clock-toggle .switch {
      position: absolute;
      top: 3px;
      left: 2px;
      width: 26px;
      height: 26px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      -webkit-transition: 0.4s;
      -moz-transition: 0.4s;
      -ms-transition: 0.4s;
      transition: 0.4s;
      background-color: #2e3040;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); }
    .time-container .clock-toggle .clock-status {
      font-size: 10px;
      line-height: 30px;
      color: rgba(255, 255, 255, 0.6); }
    .time-container .clock-toggle.clocked-in {
      background-color: #2bca91; }
      .time-container .clock-toggle.clocked-in .switch {
        left: initial;
        right: 2px; }
      .time-container .clock-toggle.clocked-in .clock-status {
        color: #ffffff; }

.sidebar-nav {
  padding-left: 36px; }
  .sidebar-nav li {
    padding-top: 15px;
    padding-bottom: 15px; }
    .sidebar-nav li a {
      background-image: url("../img/nav-icons.svg");
      background-repeat: no-repeat;
      color: #ffffff;
      opacity: 0.4;
      padding-left: 35px;
      font-size: 16px; }
      .sidebar-nav li a:hover {
        opacity: 1; }
    .sidebar-nav li.active-page a {
      opacity: 1; }
    .sidebar-nav li:nth-of-type(1) a {
      background-position: 0 -104px; }
    .sidebar-nav li:nth-of-type(2) a {
      background-position: 0 -150px; }
    .sidebar-nav li:nth-of-type(3) a {
      background-position: 0 -73px; }
    .sidebar-nav li:nth-of-type(4) a {
      background-position: 0 -200px; }
    .sidebar-nav li:nth-of-type(5) a {
      background-position: 0 -49px; }
    .sidebar-nav li:nth-of-type(6) a {
      background-position: 0 -173px; }
    .sidebar-nav li:nth-of-type(7) a {
      background-position: 0 -24px; }
    .sidebar-nav li:nth-of-type(8) a {
      background-position: 0 0px; }
    .sidebar-nav li:nth-of-type(9) a {
      background-position: 0 -128px; }

.content-container {
  position: fixed;
  top: 0;
  left: 204px;
  width: calc(100% - 204px);
  height: 100%; }
  .content-container .name-header {
    width: 100%;
    height: 70px;
    padding: 21px 50px 25px;
    border-bottom: 1px solid #d5d6e1; }
    .content-container .name-header .welcome {
      float: left;
      font-size: 20px;
      font-weight: 400;
      color: #262626; }
    .content-container .name-header .timezone-container {
      float: right; }
      .content-container .name-header .timezone-container .clock-image {
        background-image: url("../img/clock.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 14px;
        display: inline-block;
        vertical-align: middle;
        width: 14px;
        height: 14px;
        margin-right: 12px; }
      .content-container .name-header .timezone-container .timezone {
        display: inline-block;
        vertical-align: middle;
        color: #2bca91; }

.reports-page .reports-header {
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: 0; }

.reports-header {
  border-bottom: 1px solid #d5d6e1; }
  .reports-header .heading-div {
    display: inline-block;
    vertical-align: middle;
    width: 28%;
    padding-left: 50px; }
    .reports-header .heading-div h3 {
      font-size: 20px;
      font-weight: 400; }
  .reports-header .options-div {
    display: inline-block;
    vertical-align: middle;
    width: 72%;
    padding-right: 20px;
    font-size: 16px; }
    .reports-header .options-div .options-current {
      background-image: url("../img/down-arrow-dark.png");
      background-repeat: no-repeat;
      background-position: center right;
      background-size: 12px;
      float: left;
      padding-right: 25px;
      cursor: pointer; }
    .reports-header .options-div .options-other {
      float: right;
      font-size: 0; }
      .reports-header .options-div .options-other a {
        display: inline-block;
        vertical-align: middle;
        width: 24px;
        height: 24px;
        margin-right: 30px; }
      .reports-header .options-div .options-other .listview {
        background-image: url("../img/listview.svg");
        background-repeat: no-repeat;
        background-position: bottom; }
      .reports-header .options-div .options-other .gridview {
        background-image: url("../img/gridview.svg");
        background-repeat: no-repeat;
        background-position: bottom; }
      .reports-header .options-div .options-other .dl-data {
        background-image: url("../img/dl-cloud.svg");
        background-repeat: no-repeat;
        background-position: bottom;
        margin-right: 0; }

.table-wrapper {
  width: 100%;
  height: calc(100vh - 123px);
  overflow-x: hidden;
  overflow-y: scroll; }

.reports-table colgroup .person-col {
  background-color: rgba(213, 214, 225, 0.1);
  border-right: 1px solid #d5d6e1; }
.reports-table thead tr {
  background-color: #fbfbfc;
  border-bottom: 1px solid #d5d6e1;
  text-align: center;
  width: 100%; }
  .reports-table thead tr .search {
    padding: 17px;
    padding-left: 30px;
    width: 28%;
    font-size: 0;
    border-right: 1px solid #d5d6e1;
    text-align: left; }
    .reports-table thead tr .search input {
      width: calc(100% - 24px);
      height: 20px;
      display: inline-block;
      vertical-align: middle;
      padding-right: 10px;
      padding-left: 27px;
      background-image: url("../img/search.png");
      background-repeat: no-repeat;
      background-position: center left;
      background-size: 12px;
      background-color: transparent;
      font-size: 12px;
      border-right: 1px solid #d5d6e1;
      margin-right: 12px; }
  .reports-table thead tr .filter {
    width: 12px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    background-image: url("../img/filter.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 13px;
    cursor: pointer; }
  .reports-table thead tr th span {
    display: block;
    color: #333333; }
    .reports-table thead tr th span:first-of-type {
      font-weight: 600; }
    .reports-table thead tr th span.date-span {
      font-size: 10px;
      margin-top: 2px; }
.reports-table .checkbox {
  width: 5.3%; }
  .reports-table .checkbox input {
    width: 15px;
    height: 15px; }
.reports-table tbody tr {
  text-align: center; }
  .reports-table tbody tr .person {
    width: 28%;
    padding: 15px 10px;
    text-align: left;
    border-bottom: 1px solid #d5d6e1; }
    .reports-table tbody tr .person .profile-photo {
      width: 42px;
      height: 42px;
      background-color: #d8d8d8;
      border-radius: 50%;
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px; }
    .reports-table tbody tr .person .person-details {
      display: inline-block;
      vertical-align: middle; }
      .reports-table tbody tr .person .person-details span:first-of-type {
        font-weight: 600; }
      .reports-table tbody tr .person .person-details .email {
        display: block;
        color: #4d6579;
        margin-top: 7px; }

/*# sourceMappingURL=main.css.map */
